
* {
  box-sizing: border-box;
}

body {
  background: url(assets/webdeveloper.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}

.container-fluid{
  width: 61rem;
  max-width: 100vw;
  background-color: rgba(250, 250, 250, .3);
  border-radius: 30px;
  
}

.top-center-box {
  text-align: center;
}

img {
  width: 16rem;
  height: 22rem;
  border-radius: 50%;              /*profilkép lekerekítése*/
  margin-top: .75rem;
  padding: 1px;                    /*körvonal*/
  background-color: #666;          /*körvonal színe*/
}

img:hover {
  transform: scale(1.2);
  transition: all 0.7s ease-in-out;
}

.name-headline {
  text-align: center;
}